<div class="relative flex items-stretch h-full">
  <div class="flex flex-col justify-between bg-primary h-full border-r border-r-white/5">
    <div
      (click)="toogleExplorer(MenuKey.EXPLORER)"
      [ngClass]="{'before:!bg-accent': isExplorerOpen()}"
      class="relative flex items-center justify-center transition-all text-light cursor-pointer before:transition-all before:content-[''] before:absolute before:w-1 before:top-0 before:bottom-0 before:left-0 before:bg-transparent hover:bg-primary-darker">
      <fa-icon [icon]="['far', 'copy']" class="m-2"/>
    </div>
    <div class="flex flex-col ">
      @for (navItem of SidenavBottom; track navItem) {
        <a [routerLink]="navItem.route"
           [routerLinkActive]="'before:!bg-accent !bg-primary-darker'"
           (click)="toogleExplorer(navItem.key)"
           class="relative flex items-center justify-center transition-all text-light before:transition-all before:content-[''] before:absolute before:w-1 before:top-0 before:bottom-0 before:left-0 before:bg-transparent hover:bg-primary-darker">
          <fa-icon [icon]="navItem.icon" class="m-2"/>
        </a>
      }
    </div>
  </div>
  <div [ngClass]="isExplorerOpen() ? 'w-60' : 'w-0'"
       class="absolute top-0 left-9 bottom-0 md:static z-100 transition-all ease-in-expo overflow-hidden">
    <explorer/>
  </div>
</div>

