<div class="flex flex-col p-3 pr-0 gap-6 text-light h-full bg-primary-darker overflow-hidden">
  <p class="text-sm">{{ 'Explorer' | uppercase }}</p>
  <a [routerLinkActive]="'bg-primary'"
     [routerLink]="Path.HOME"
     class="flex items-center transition-all text-light hover:bg-primary px-2 py-1 gap-2 w-full">
    <fa-icon [icon]="['fas', 'house-chimney']" [size]="'sm'"/>
    <span class="text-xs">{{ 'EXPLORER.HOME' | translate }}</span>
  </a>
  <div class="flex flex-col overflow-auto gap-3">
    @for (category of explorerMap(); track category[0]) {
      <div class="flex flex-col items-start">
        <h3 class="flex items-center gap-2 text-xs" (click)="toggleCategory(category[0])">
          <fa-icon [icon]="['fas', 'angle-down']" [ngClass]="{'rotate-180' : !isCategoryOpen(category[0]) }"
                   class="transition-transform duration-200"/>
          <span>{{ category[0] | translate }}</span>
        </h3>
        <div class="grid transition-all w-full"
             [style.grid-template-rows]="isCategoryOpen(category[0]) ? '1fr' : '0fr'"
             [class.py-2]="isCategoryOpen(category[0])">
          <div class="overflow-hidden">
            @for (explorerItem of category[1]; track explorerItem) {
              <a [routerLink]="explorerItem.route"
                 [routerLinkActive]="'bg-primary'"
                 class="flex items-center transition-all text-light hover:bg-primary py-1 px-4 gap-2 w-full">
                <fa-icon [icon]="explorerItem.icon" [size]="'sm'" [attr.class]="explorerItem.theme"/>
                <span class="text-xs truncate">{{ explorerItem.label | translate }}</span>
              </a>
            }
          </div>
        </div>
      </div>
    }
  </div>
</div>



